body {
  background-color: #EEF2E6;
}
hr {
  border-color:#DEB6AB;
  border-style:none;
  border-top-style: dotted;
  width: 10%;
  align-items: center;
  border-width: 10px;
}
h3 {
  text-align: center;
  color: #3D8361;
}

h1 {
  text-align: center;
  color: #1C6758;
}
